@charset "utf-8";
/* CSS Document 
	light: #9fdff0;
	dark: #1587ac;
*/



html {
	background-color:#9fdff0;
	background-color:#fff;
	height:100%;
}

body {
	background-color:#fff;
}


#wrapper {
	width:800px;
	margin:0 auto;
	padding-bottom:50%;
}

#content {
	padding:60px 0;
}

p {
	font-size:24px;
	padding-bottom:24px;
}



