/* 

**************************************

               FILIP CSS

**************************************

/*******************
		TABLE
********************/

.css_framework_table table,
th,
td {
    width: 100%;
    margin: auto;
    border: 1px solid #c2c2c2;
    border-collapse: collapse;
    font-size: 15px;
    table-layout: fixed;
    background: white;
    margin-top: 100px;
    padding: 10px;
}

th {
    text-align: center;
}

td {
    text-align: left;
}
