/*------------------------------------------------------------
 
 Start CSS for Sitecake 2015.
 
*-----------------------------------------------------------*/


/*************************************
              General
*************************************/

a:focus {
    outline: none;
}

img {
    max-width: 100%;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    float: left;
    width: 100%;
    padding-bottom: 230px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #222;
}


/*************************************
          Bootstrap overide
*************************************/

.container {
    max-width: 940px;
}


/*************************************
              Header
*************************************/

header {
    width: 100%;
    padding: 53px 30px;
    text-align: center;
    position: relative;
}

header .header-logo {
    display: block;
}

header nav {
    position: absolute;
    right: 35px;
    top: 25px;
}

header nav ul {
    padding: 0;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    color: #5a5959;
    font-size: 16px;
    font-weight: 600;
}

header nav ul li a,
header nav ul li span {
    float: left;
    padding: 9px 12px;
    color: #5a5959;
    border-radius: 3px;
}

header nav ul li a:hover {
    background: #ebebeb;
    color: #5a5959;
    text-decoration: none;
}

header nav ul li a:visited,
header nav ul li a:active {
    background: #dddddd;
    color: #5a5959;
    text-decoration: none;
}

header nav ul li a.download {
    background: #61cae9;
    color: #fff;
}

header nav ul li a.download:hover {
    background: #51bcda;
}

header nav ul li a.download:visited,
header nav ul li a.download:active {
    background: #61cae9;
    color: #fff;
}


/*************************************
                Navigatin
*************************************/

nav {
    display: block;
    height: 103px;
    margin-bottom: 80px;
}

nav ul {
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    color: #5a5959;
    font-size: 16px;
    font-weight: 600;
}

nav ul li a,
nav ul li span {
    float: left;
    padding: 9px 9px;
    color: #5a5959;
    border-radius: 3px;
    margin: 5px 1px;
    font-size: 14px;
}

.navbar-brand {
    border-right: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: block;
    text-align: center;
}

nav ul li a.navbar-brand img {
    margin: 5px auto;
}

nav ul li a.navbar-brand {
    text-align: center;
    float: none;
    border-right: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

nav ul li a:hover {
    background: #ebebeb;
    color: #5a5959;
    text-decoration: none;
}

nav ul li a.navbar-brand:hover {
    background: transparent;
}

nav ul li a:focus,
nav ul li a:active {
    background: #dddddd;
    color: #5a5959;
    text-decoration: none;
}

nav ul li a.download {
    background: #61cae9;
    color: #fff;
}

nav ul li a.download:hover {
    background: #51bcda;
    color: #fff;
}

nav ul li a.download:focus,
nav ul li a.download:active {
    background: #41aecc;
    color: #fff;
}


/*************************************
                Intro
*************************************/

.intro {
    float: left;
    width: 100%;
    color: #5a5959;
    padding-bottom: 115px;
    text-align: center;
}

.intro .container {
    padding-left: 30px;
    padding-right: 30px;
}

.intro h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}

.intro h2.hero {
    margin: 0 0 75px 0;
    font-size: 20px;
    font-style: italic;
}

.intro ul {
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.intro ul li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

.intro ul li:first-child {
    margin: 0;
}

.intro ul li a {
    float: left;
    width: 185px;
    height: 175px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    background: #00d2a7;
}

.intro ul li a p {
    margin-top: 60px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    font-style: italic;
    -webkit-transform: skew(25deg) scale(1);
    -moz-transform: skew(25deg) scale(1);
    -o-transform: skew(25deg) scale(1);
}

.intro ul li a:hover,
.intro ul li a:focus,
.intro ul li a:active {
    text-decoration: none;
    -webkit-transform: skew(-25deg) scale(1.1);
    -moz-transform: skew(-25deg) scale(1.1);
    -o-transform: skew(-25deg) scale(1.1);
}


/*************************************
            Watch Video
*************************************/

.intro ul li a.watch-video p > span {
    margin-left: -37px;
}

.intro ul li a span.arrow {
    position: absolute;
}

.intro ul li a.watch-video span.arrow {
    top: 95px;
    right: 26px;
    width: 25px;
    height: 26px;
    background: url('../img/watch-video-arrow.png');
}

.intro ul li a.watch-video:hover {
    background: #00c398;
}

.intro ul li a.watch-video:focus {
    background: #00b58b;
}

.intro ul li a.watch-video:hover span.arrow,
.intro ul li a.watch-video:focus span.arrow {
    /*right: 18px;*/
}


/*************************************
              Try Demo
*************************************/

.intro ul li a.try-demo {
    background: #1abc9c;
}

.intro ul li a.try-demo p {
    margin-left: -7px;
}

.intro ul li a span.arrow {
    position: absolute;
}

.intro ul li a.try-demo span.arrow {
    top: 88px;
    right: 15px;
    width: 32px;
    height: 32px;
    background: url('../img/try-demo-arrow.png');
}

.intro ul li a.try-demo:hover {
    background: #00ad8e;
}

.intro ul li a.try-demo:focus {
    background: #00a081;
}

.intro ul li a.try-demo:hover span.arrow,
.intro ul li a.try-demo:focus span.arrow {
    /*top: 80px;*/
}


/*************************************
              Download
*************************************/

.intro ul li a.download p > span {
    margin-left: -37px;
}

.intro ul li a.download {
    background: #61cae9;
}

.intro ul li a.download p {
    margin-left: -7px;
}

.intro ul li a span.arrow {
    position: absolute;
}

.intro ul li a.download span.arrow {
    top: 88px;
    right: 26px;
    width: 35px;
    height: 35px;
    background: url('../img/download-arrow.png');
}

.intro ul li a.download:hover {
    background: #51bcda;
}

.intro ul li a.download:focus {
    background: #41aecc;
}

.intro ul li a.download:hover span.arrow,
.intro ul li a.download:focus span.arrow {
    /*top: 94px;*/
}


/*************************************
              Features
*************************************/

.features {
    float: left;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: #f5f5f5;
}

.features h2 {
    color: #5a5959;
    font-size: 44px;
    font-weight: 800;
    margin: 0 0 35px 0;
}

.features .features-box {
    float: left;
    width: 100%;
    margin-bottom: 70px;
    max-width: 385px;
}

.features .features-box img {
    margin-bottom: 10px;
}

.features .features-box h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.features .features-box p {
    font-size: 16px;
    color: #5a5959;
    font-weight: 500;
}

.features .features-box p a,
.intro a {
    color: #00aeef;
}


/*************************************
            How To Install
*************************************/

.how-to-install {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.how-to-install h2 {
    color: #5a5959;
    font-size: 44px;
    font-weight: 800;
    margin: 0 0 80px 0;
    text-align: center;
}

.how-to-install p {
    font-size: 16px;
    color: #5a5959;
    line-height: 1.4;
}

.how-to-install .how-to-install-box {
    float: left;
    width: 100%;
    padding: 15px;
    background: #f7f7f9;
    border-radius: 5px;
    min-height: 207px;
    margin-bottom: 5px;
    border: 1px solid #e1e1e8;
}

.how-to-install .browser .how-to-install-box {
    border: none;
    background: transparent url('../img/browser.png') top left;
}

.how-to-install .how-to-install-box span {
    color: #3c3e43;
    font-size: 14px;
    font-family: 'Consolas';
}

.how-to-install .how-to-install-box span.html-blue {
    color: #1abc9c;
}

code {
    font-family: 'Consolas';
}


/*************************************
               Showcase
*************************************/

.showcase {
    float: left;
    width: 100%;
    padding: 60px 0;
    background: #ebebeb;
}

.showcase h2 {
    color: #5a5959;
    font-size: 44px;
    font-weight: 800;
    margin: 0 0 30px 0;
    text-align: center;
}

.showcase p,
.featured p,
.showcaseall p {
    font-size: 18px;
    color: #666666;
    line-height: 1.4;
    text-align: center;
}

.showcase p,
.showcaseall p {
    margin: 0 0 50px 0;
    font-style: italic;
}

.featured p {
    padding-top: 50px;
    clear: both;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.1em;
}

.showcase ul {
    float: left;
    width: 100%;
    padding: 0;
}

.showcase ul li {
    list-style: none;
    margin-bottom: 30px;
}

.showcase ul li a {
    display: block;
}

.showcase ul li a img {
    /* -webkit-filter: brightness(1);
  filter: brightness(1); */
    opacity: 1;
    transition: 0.2s ease;
}

.showcase ul li a:hover img,
.showcase ul li a:focus img {
    /*-webkit-filter: brightness(1.1);
  filter: brightness(1.1);*/
    opacity: 0.9;
    transition: 0.2s ease;
}


/*************************************
        Featured
*************************************/

section.featured {
    padding: 50px 0;
    text-align: center;
}


/*************************************
               Footer
*************************************/

footer {
    float: left;
    width: 100%;
    padding: 40px 0;
    background: #333333;
}

footer dt,
footer h3 {
    float: left;
    width: 100%;
    font-weight: 700;
    margin: 0 0 5px 0;
    color: #858585;
    font-size: 16px;
}

footer dl {
    float: left;
    width: 100%;
    padding: 0;
}

footer dd {
    margin-bottom: 1px;
    margin-left: 0;
}

footer dl a {
    font-weight: 400;
    color: #cccccc;
    font-size: 16px;
}

footer dl a:hover,
footer dl a:focus {
    color: #fff;
}

footer .footer-social {
    padding: 0;
}

footer .footer-social li {
    display: inline-block;
    margin-right: 7px;
}

footer .footer-social li a:hover,
footer .footer-social li a:focus {
    opacity: 0.8;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 230px;
}


/*************************************
                Download
*************************************/

.download-header {
    margin: -2rem 0 3rem 0;
    color: #5a5959;
    text-align: center;
}

.download-header h1 {
    font-weight: 900;
    font-size: 2.3rem;
    letter-spacing: -0.03rem;
    padding: 0;
    margin: 0;
}

.download-header p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.price-box {
    border: 1px solid #cccccc;
    padding: 26px;
    text-align: center;
    margin-bottom: 2em;
}

.price-box h6 {
    font: 900 20px Lato;
    color: #5a5959;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin: 4px 0;
}

.price-box span {
    font: 300 38px/24px 'Lato';
    color: #5a5959;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.price-box p {
    font: 400 16px 'Lato';
    font-style: italic;
    color: #5a5959;
}

.price-box ul li {
    font: 400 16px 'Lato';
    color: #5a5959;
}

.price-box hr {
    background: #ccc;
    width: 90%;
    margin: 0.8em auto;
}

.price-box ul {
    list-style: none;
    padding: 0;
}

.price-box ul li {
    margin: 0.8em 0;
}

.price-box .price-text {
    height: 306px;
}

.price-box a {
    background: #61cae9;
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 13px 0px 12px;
}

.price-box a:hover {
    background: #51bcda;
    color: #fff;
}

.price-box a:focus,
.price-box a:active {
    background: #41aecc;
    color: #fff;
}

.download a,
.sitecake-support a {
    background: #30c3a6;
}

.download a:hover,
.sitecake-support a:hover {
    background: #1abc9c;
}

.download a:active,
.sitecake-support a:active {
    background: #00a081;
}
    .hanger p {
    font: 400 32px/44px Lato;
    text-align: center;
    margin: 55px 0 75px;
}

.hanger hr {
    width: 15%;
    position: relative;
    top: -55px;
}

.faq {
    margin: 50px 0 0;
}

.faq p,
.whitelablemonials p {
    font: 400 16px/22px Lato;
    padding-bottom: 30px;
}

.faq h3 {
    font: 600 16px/22px Lato;
    margin-bottom: 0;
}

.tweetemonials {
    margin-bottom: 50px;
}

.whitelablemonials img {
    width: 104px;
    float: left;
    margin-right: 20px;
}

.whitelablemonials blockquote,
.whitelablemonials p {
    font-style: italic;
    margin-left: 120px;
    margin-right: 10px;
}


/* Thank you page */

.thankyou {
    text-align: center;
    padding: 7em 1em;
}

.thankyou h1 {
    font-size: 38px;
    font-weight: 800;
    margin: 0.5em 0 0.5em;
    color: #5a5959;
}

.thankyou h2 {
    border: #63c3e2 solid 2px;
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-size: 110%;
    margin: 0.6rem 0.5rem 0.5rem;
}

.thankyou p {
    margin-top: 1rem;
    text-align: center;
    color: #5a5959;
}

.thankyou p a {
    color: #51bcda;
}


/* Showcase page */

.showcaseall {
    margin-bottom: 30px;
}

.showcaseall h1 {
    color: #5a5959;
    font-size: 52px;
    font-weight: 800;
    margin: 0 0 30px 0;
    text-align: center;
}

.showcaseall .col-xs-12 {
    margin-bottom: 15px;
}

.showcaseall .col-xs-12 img {
    border: 1px solid #eee;
}


/********************************/


/* Templates page */


/********************************/


/********************************/


/* Templates page */


/********************************/

.templates {
    margin-bottom: 30px;
}

.templates h1 {
    color: #5a5959;
    font-size: 52px;
    font-weight: 800;
    margin: 0 0 30px 0;
    text-align: center;
}

.templates p {
    text-align: center;
    font-size: 18px;
    margin-top: 3px;
    font-style: normal;
}

.templates .col-xs-12 img {
    border: 1px solid #eee;
}

.templates .col-xs-12 a.free-template:hover img {
    border: 1px solid #ccc;
}


/* Pin Style */

.progress-bar {
    background-color: #0BC20B;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 0;
    -webkit-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
    -webkit-transition: width 0.1s ease-out;
    -moz-transition: width 0.1s ease-out;
    -o-transition: width 0.1s ease-out;
    transition: width 0.1s ease-out;
}

.wookmark-placeholder {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid #dedede;
    z-index: -1;
}

.tiles-wrap {
    position: relative;
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

.tiles-wrap .block a.template-preview,
.tiles-wrap .block a.template-preview > img {
    background-color: #fff;
    padding: 0;
    display: block;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.tiles-wrap .block a.template-preview > img {
    border-bottom: 1px solid #ddd;
}

.tiles-wrap .block a.template-preview:hover > img {
    opacity: .8;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.tiles-wrap .block {
    display: block;
    opacity: 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    float: left;
    width: 236px;
    margin: 14px 7px 0 7px;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.tiles-wrap.wookmark-initialised.animated .block {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.tiles-wrap .block p {
    font-size: .9em;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tiles-wrap .block a.template-name,
.tiles-wrap .block span.template-price {
    font-size: 1em;
    border: none;
    padding: 10px;
    font-weight: bold;
}

.tiles-wrap .block span.template-price {
    padding: 1px 7px;
}

.tiles-wrap .block span.template-price,
.tiles-wrap .block span.template-price-free {
    margin-left: 7px;
    background-color: #61CAE9;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: -.02em;
}

.tiles-wrap .block span.template-price-free {
    font-size: .7em;
    background-color: #79af3b;
    padding: 4px 7px;
}

.tiles-wrap .block p.template-description {
    padding-top: 0;
}

.tiles-wrap .block a.template-author > img {
    width: 25px;
    min-height: 25px;
    border-radius: 100px;
    margin-right: 7px;
    display: inline-block;
}

.tiles-wrap.wookmark-initialised .block {
    opacity: 1;
}

.tiles-wrap .block.wookmark-inactive {
    visibility: hidden;
    opacity: 0;
}

.tiles-wrap a {
    font-size: .9em;
    display: block;
    color: #555;
    text-decoration: none;
    padding: 10px;
}

.tiles-wrap a:hover {
    background-color: #f1f1f1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out
}


/* Hosting page */

.hosting h1 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #5a5959;
    letter-spacing: -0.01em;
}

.hosting p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
    color: #5a5959;
}

.hosting h4,
.hosting h4 a,
.hosting h4 a:link {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #5a5959;
    margin: 0;
    padding: 0;
}

.hosting div.header {
    margin-bottom: 20px;
}

@media (min-width: 34em) {
    nav ul li a,
    nav ul li span {
        float: left;
        padding: 9px 12px;
        color: #5a5959;
        border-radius: 3px;
        margin: 44px 1px;
        font-size: 16px;
    }
    nav ul li a.navbar-brand {
        float: left;
        border-right: 1px solid #c2c2c2;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
}


/*// Medium devices (tablets, 48em and up)*/

@media (min-width: 48em) {
    .showcaseall .col-xs-12 {
        margin-bottom: 70px;
    }
}


/*// Large devices (desktops, 62em and up)*/

@media (min-width: 62em) {}


/*// Extra large devices (large desktops, 75em and up)*/

@media (min-width: 75em) {}


/*************************************
              Documentation
*************************************/

.documentation h1 {
    color: #5a5959;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.08rem
}

.documentation h2 {
    color: #5a5959;
    font-weight: 900;
    margin: 3rem 0 1rem 0;
    letter-spacing: -0.03rem;
    font-size: 1.5rem;
}

.documentation h3 {
    color: #5a5959;
    font-size: 1.2rem;
    font-weight: 900;
    margin: 3rem 0 0.2rem 0;
    letter-spacing: -0.01em
}

.documentation h4 {
    margin: 0 0 0.2rem 0;
    font-size: 1rem;
    color: #5a5959;
    font-weight: 600;
    line-height: 1.3rem;
}

.documentation p,
.documentation ul {
    margin-bottom: 2rem;
    color: #333;
}

.documentation ul.summary {
    background-color: #fff;
    border: #63c3e2 solid 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    margin-top: 3rem;
}

.documentation a,
.documentation a:hover,
.documentation a:visited {
    color: #0cb5e6;
}

.documentation .sidebar a {
    color: #5a5959;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

p em {
    font-family: monospace, monospace;
    font-size: 90%;
    background-color: #f7f7f9;
    border-radius: .25rem;
    padding: 0.1rem 0.3rem;
    color: #5a5959;
    font-style: normal;
}

p.code {
    padding: 1rem 1.5rem;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 90%;
    background-color: #f7f7f9;
    border-radius: .25rem;
    color: #5a5959;
}