/*  design and CSS: Nikola Mircic                                                     */


/*transitions*/

.thumbs .col a.thumb:hover {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: ball 0.2s ease-out;
  transition: all 0.2s ease-out;
}


/*general stuff*/

html {
	background-color: #9fdff0;
	background-color: #fff;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

body {
	background: white url(none);
}

.article, #container, #wrapper, body, html  {
	min-height:100%;
}




#wrapper {
	background-color:white;
	min-height:100%;
	overflow:hidden;
}

.wide {
	background-color:#0798d2;
	width:100%;
	padding-top:50px;
	padding-bottom:50px;
}



#header {
	padding-bottom:50px;
}

a#logo {
	width:336px;
	height:84px;
	background: url(../images/logo-blue.gif) no-repeat 6px 4px;
}


/* Utilities menu */



/* Navigation menu */


ul.navigation li.inactive {
	color: #63c3e2;	
}

ul.navigation li span {
	color: #63c3e2;	
}

ul.navigation li a {
	color: #63c3e2;	
}

ul.navigation li a:hover {
	background-color:#9fdff0;
	color:#fff;
}

.stroke {
	background: url(../images/stroke-red.png) no-repeat left top;	
}

.handwritten {
	color:#e50051;

}

.note2 {
	position:absolute;
	top:455px;
	right:62px;
}



/* Content */

#container {
	width:940px;
	padding:0 10px;
	margin:0 auto;
	position:relative;
}

.container {
	width:940px;
	margin:0 auto;
	position:relative;
}


/* Pricing table */

table.pricing {
}

table.pricing td {
	text-align:center;
	font: normal 13px 'Droid Sans', Times, serif;
	color: #222222;	
	vertical-align:middle;
}

table.pricing td.xx {
	width:100px;
}

table.pricing th {
	width:300px;
	text-align:left;
	font: normal 14px 'Droid Sans', Times, serif;
	color: #222222;	
	padding:8px 8px 9px 8px;
	vertical-align:middle;
}

table.pricing tbody tr {
	background: url(../images/line-light.png) no-repeat left bottom;
}

table.pricing tr.dark-line {
	background: url(../images/line-dark.png) no-repeat left bottom;
}

table.pricing tr.no-line {
	background: url(none);
}

.pricing thead td span,.pricing thead th span  {
	font: normal 27px 'Droid Serif', Times, serif;
	color: #222222;	
	letter-spacing:-0.03em;
}

.pricing thead th  {
	text-align:left;
}

.pricing tfoot td {
	font: normal 21px 'Droid Serif', Times, serif;
	color: #222222;	
	letter-spacing:-0.03em;
	text-align:center;
}

.pricing tfoot td button {
	width:150px;
	min-height:38px;
	font: normal 15px 'Droid Sans', Times, serif;
	letter-spacing:0em;
	padding:5px 5px 7px;
	text-align:center;
}

.pricing tfoot td .dl-free a:active {
/*	position:relative;
	top:1px;
*/}


.pricing tfoot td span {
	padding:4px;
	width:150px;
	display:inline-block;
	border-radius:4px;  
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;  
	-khtml-border-radius:4px; 
}

.pricing tfoot td button span {
	font: normal 11px 'Droid Sans', Times, serif;
	padding:0;
	margin:0;
	display:block;
	border:none;
	position:relative;
	left:-5px;
}
.pricing tfoot td span.dl-free {
	background-color: #eeeeee;
}

.pricing tfoot td span.dl-paid {
	background-color: #d3f4fe;
}

.pricing tfoot tr.download th label {
	font-size:11px;
	padding: 0 0 0 5px;
}

.pricing tfoot tr.download th input {
	position:relative;
	top:2px;
}

.pricing tr.prices th, .pricing tr.prices td {
	padding: 11px 0;
}



/* Blue box */

.blue-box {
	background-color:#d3f4fe;
	font: normal 14px/18px 'Droid Sans', Arial, sans;
	color:#222222;
	border-top: #9fdff0 1px solid;
	border-bottom: #9fdff0 1px solid;
	padding:0px 50px 20px;
	margin:20px 0;
}

.blue-box h2 {
	font: normal 27px 'Droid Serif', Times, serif;
	color:#3b9ec4;
	padding:20px 0 0;
}

.blue-box p {
	padding-bottom:13px;
	font: normal 14px/18px 'Droid Sans', Arial, sans;
	color:#222222;
}

.blue-box hr {
	height:0px;
	border-style:none;
	border-top: 1px solid #9fdff0;
	border-bottom: 1px solid #e9faff;
	margin:20px 0;

}

/* Ariticle Layout */ 

	.sidecolumn {
		margin-top:32px;
		width:170px;
		float:left;
	}
	
	.article {
		width:640px;
		float:left;
		margin: 19px 65px 0;
	}
	
	.sidecolumn2 {
		width:278px;
		float:right;
	}
	
	.article2 {
		margin-top:32px;
		margin-right:300px;
	}
	

/* Articles */


p, li {
	font: normal 14px/1.5em 'Droid Sans', Arial, sans;
	color:#222222;
}

p.large {
	font: normal 18px/1.5em 'Droid Sans', Arial, sans;
	color:#222222;
}

p a {
	color:#3b9ec4;
}

a {
	color:#3b9ec4;
	text-decoration:none;
}


p strong {
	font-weight:bold;
}

p, ul {
	margin-bottom:15px;
}


a:hover {
/*	background-color:#3b9ec4;
	color:#fff;*/
	text-decoration:underline;
}

a:active {
	background-color:#ffffa2;
	text-decoration:none;
}

h1 {
	font: normal 36px/1.1em 'Droid Serif', Times, serif;
	color:#222222;
	padding-bottom:20px;
}

h1 span a {
	font: normal 24px/1.1em 'Droid Sans', Times, serif;
	color:#0798d2;
	letter-spacing:-0.002em;
	text-decoration:underline;
}

h1 span a:hover {
	font: normal 24px/1.1em 'Droid Sans', Times, serif;
	color:#0798d2;
	text-decoration:none;
	letter-spacing:-0.002em;
}




h2 {
	font: normal 24px/1.2em 'Droid Serif', Times, serif;
	color: #222222;
	padding-top:20px;
	padding-bottom:13px;
}

h3 {
	font: normal 16px/1.2em 'Droid Serif', Times, serif;
	color: #222222;
	padding-top:10px;
	padding-bottom:12px;
}

h4 {
	font: bold 14px/1.5em 'Droid Sans', Arial, sans;
	color: #222222;
	text-transform: uppercase;
}




p.small {
	font: normal 12px/1.5em 'Droid Sans', Arial, sans;
	background: url(../images/divider-text.gif) no-repeat left top;
	padding-top:15px;
}

p.code {
	background-color:#f5f5f5;
	border: #dfdfdf solid 1px;
	padding:18px 27px 21px;
	font: normal 14px/1.3em "Courier New", Courier, monospace;
}

p.code strong, p.accented {
	font-weight:normal;
	background-color:#ffffa2;
}

p.tip {
	background-color:#fff;
	border: #63c3e2 solid 1px;
	border-left: #63c3e2 solid 5px;
	padding:18px 27px 21px;
}

.article img {
	border: #c9c9c9 solid 1px;
}

.article ul li, .article2 ul li {
}
	
.article ul, .article2 ul {
	list-style: square url(../images/bullet-square.gif) outside;
}
	
.article ul.inshort, .article2 ul.inshort {
	list-style: square url(../images/bullet-square.gif) outside;
	background-color:#fff;
	border: #63c3e2 solid 1px;
	border-left: #63c3e2 solid 5px;
	padding:18px 27px 21px;
}
	

/* sidedolumn */

.sidecolumn h2 {
	font: normal 12px 'Droid Sans', Arial, sans;
	text-transform: uppercase;
	padding:0; 
	margin:0;
	padding:8px 3px 7px;
	background: url(../images/divider-links.gif) no-repeat left bottom;
}

.sidecolumn ul{
	padding-bottom:15px;
}

.sidecolumn ul li a {
	display:block;
	font: normal 13px/1.2em 'Droid Sans', Arial, sans;
}


.sidecolumn ul li a {
	display:block;
	padding:8px 3px 7px;
}

.sidecolumn ul li {
	background: url(../images/divider-links.gif) no-repeat left bottom;
}

.sidecolumn ul li a:hover {
	background-color:transparent;
}


/* additional styles */

/* notice box */

.notice {
	background-color:#fffcaa;
	font: normal 14px/18px 'Droid Sans', Arial, sans;
	color:#222222;
	border-top: #e9cf81 1px solid;
	border-bottom: #e9cf81 1px solid;
	padding:15px 50px 0px;
	margin:20px 0;
}


p em {
	background-color:#fffcaa;
}




/* web hosting */

.alert-box p a {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 8px 0 5px;
	background-color: #ffed00;
	text-align: center;
	font-family: 'Droid Sans', Helvetica, Arial, sans;
	font-size: 15px;
	line-height: 23px;
	text-transform: uppercase;
	/*	border-radius:4px;  
	-moz-border-radius:4px; 
	-webkit-border-radius:4px;  
	-khtml-border-radius:4px; 
*/
}



.article .hosting-offer {
	background-color:#fff;
	border: #63c3e2 solid 1px;
	border-left: #63c3e2 solid 5px;
	padding:11px 40px 20px;
	margin:30px 0;
}

.article .hosting-offer ul {
	list-style: inside square url(../images/bullet-square.gif);
}

.hosting-offer h2 {
	color:#3b9ec4;
	padding-bottom:20px;	
}


a.try-today {
	font-family: 'Droid Sans', Helvetica, Arial, sans;
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	display: block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	background-image: url(../images/bluegrad.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #2cb7e5;
	border-bottom: #007ab1 solid 1px;
	line-height: 24px;
	margin: 24px 0 15px;
	padding: 15px 0;
	text-decoration:none;
	width:280px;
	text-align:center;	
}



/*Templates*/

.thumbs {
	float:left;
	width:940px;
}

.thumbs .col {
	float:left;
	width:277px;
	margin: 40px 18px 40px 0;
}

.thumbs .col a.thumb {
	padding:10px;
	background-color:#f5f5f5;
	display:block;
	float:left;
	margin-bottom:10px;
}

.thumbs .col a.thumb img {
	border: 1px solid #d8d8d8;
}

.thumbs .col a.thumb:hover {
	background-color:#6dcff6;
}



.thumbs .col a.thumb:hover img {
	border: 1px solid #6dcff6;
}

.thumbs p, .thumbs h3 {
	text-align: center;
}

.center {
	text-align:center;
}

.sidebox {
	text-align: center;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	border: 1px solid #c4c4c4;
	padding: 20px 0;
	margin-bottom:15px;
	

}

.sidebox a.green {
	width:186px;

	background-color: #55e355;
	border-bottom: 1px solid #19cf19;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
*/
	padding: 11px 47px 9px;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	font: bold 18px 'Droid Sans', Helvetica, Arial, sans;
	text-transform: uppercase;
	margin: 10px 0 20px;
   }
.sidebox a.green:hover {
	background-color: #2fd62f;
   }
   
.sidebox a.green:active {
	position:relative;
	top:1px;
	border-bottom: none;
}


.sidebox a.blue {
	width:186px;


	background-color: #0798d2;
	border-bottom: 1px solid #046abe;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	/*   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
*/
	padding: 11px 47px 9px;
	color: #ffffff;
	text-decoration: none;
	vertical-align: middle;
	font: bold 18px 'Droid Sans', Helvetica, Arial, sans;
	text-transform: uppercase;
	min-width:186px;
	margin: 10px 0 20px;
   }
.sidebox a.blue:hover {
	background-color: #046abe;
   }
   
.sidebox a.blue:active {
	position:relative;
	top:1px;
	border-bottom: none;
}


.sidebox span {
	display:block;
	color:#4c4c4c;
}

.sidebox span.label {
	font: normal 20px 'Droid Sans', Helvetica, Arial, sans;
	margin-bottom:5px;
}

.sidebox span.price {
	font: bold 36px 'Droid Sans', Helvetica, Arial, sans;
	letter-spacing:-0.02em;
	margin-bottom:20px;
}


.sidebox span.small {
	font: normal 12px'Droid Sans', Helvetica, Arial, sans;
		margin-top:20px;

}

.screenshot {
	float:left;
	margin: 0 10px;
}



/*Hosting page*/


.hostbox {
	
	background-color:#f5f5f5;
	border: 1px solid #ddd;
	padding: 20px 20px 0px;
	margin-bottom:15px;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom:20px;
	min-height:150px;
}
.hostbox p, .hostbox p.small {
	margin-right:150px;
	background-image:none;
	padding-top:0;
}

.hostbox p.small {
	font: normal 12px/1.5em 'Droid Sans', Arial, sans;
}

.hostbox .hostimage {
	float:right;
	width:125px;
}








